<mat-card class="details-card">

  <!-- HEADER -->
  <div class="details-header">

    <div>

      <h1>
        {{ data.id }}
      </h1>

      <p>
        Live Flight Information
      </p>

    </div>

    <button
      mat-icon-button
      (click)="close()"
    >

      <mat-icon>
        close
      </mat-icon>

    </button>

  </div>

  <!-- GRID -->
  <div class="details-grid">

    <!-- AIRCRAFT -->
    <div class="info-card">

      <span>
        Aircraft Type
      </span>

      <h3>
        {{
          data.aircraftType
        }}
      </h3>

    </div>

    <!-- ROUTE -->
    <div class="info-card">

      <span>
        Route
      </span>

      <h3>

        {{
          data.departureAirport
        }}

        →

        {{
          data.destinationAirport
        }}

      </h3>

    </div>

    <!-- FIR -->
    <div class="info-card">

      <span>
        FIR Region
      </span>

      <h3>
        {{
          data.firRegion
        }}
      </h3>

    </div>

    <!-- ALTITUDE -->
    <div class="info-card">

      <span>
        Altitude
      </span>

      <h3>

        {{
          data.altitude
        }}

        ft

      </h3>

    </div>

    <!-- SPEED -->
    <div class="info-card">

      <span>
        Speed
      </span>

      <h3>

        {{
          data.speed
        }}

        km/h

      </h3>

    </div>

    <!-- STATUS -->
    <div class="info-card">

      <span>
        Status
      </span>

      <h3>
        {{
          data.status
        }}
      </h3>

    </div>

    <!-- ETA -->
    <div class="info-card">

      <span>
        ETA
      </span>

      <h3>
        {{
          data.eta
        }}
      </h3>

    </div>

    <!-- UPDATED -->
    <div class="info-card">

      <span>
        Last Updated
      </span>

      <h3>
        {{
          data.lastUpdated
        }}
      </h3>

    </div>

  </div>

</mat-card>