.toast-container {
  min-width: 360px;

  border-radius: 18px;

  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.2);
}

.toast-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.toast-icon {
  width: 48px;
  height: 48px;

  border-radius: 14px;

  background: rgba(255,255,255,0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    color: white;
  }
}

.toast-content {

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  p {
    margin: 6px 0 0;
    font-size: 13px;
    opacity: 0.9;
  }
}

.toast-high {
  background: linear-gradient(
    135deg,
    #ef4444,
    #dc2626
  );
}

.toast-medium {
  background: linear-gradient(
    135deg,
    #f59e0b,
    #d97706
  );
}

.toast-low {
  background: linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
  );
}